---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import FormBook from "~/components/forms/FormBook.astro";
import { phone } from "~/data/config";
import { Image } from "astro:assets";
import kontaktPhoto from "~/assets/images/images/kontakt_photo.jpg";
---

<Layout>
	<Section>
			<Image 
				src={kontaktPhoto} 
				alt="Kontaktní fotografie"
				class="w-auto h-auto max-h-[350px] mb-[60px] mx-auto rounded-[30%_70%_53%_47%_/_30%_30%_70%_70%] shadow-lg"
			/>
			<Heading>
				<h2 slot="heading-title" class="font-black text-brand-green h2">Zavolejte mi</h2>
				<p slot="heading-content" class="text-pretty">
					<a href={`tel:${phone.label.replace(/\s/g, '')}`} class="inline-block text-brand-green hover:underline transition duration-200 font-medium">
						{phone.label}
					</a>
				</p>
				<h2 id="email-form" slot="heading-title-1" class="font-black text-brand-green h2">Napište mi</h2>
				<p slot="heading-content-1" class="text-pretty">
					Ozveme se vám co nejdříve to jen bude možné. Pro všechny dotazy a požadavky můžete využít i telefonní kontakt.
				</p>
			</Heading>

			<FormBook />
	</Section>
</Layout>
