---
import { Picture } from "astro:assets";
import logo from "~/assets/images/images/logo.jpeg";
const currentYear = new Date().getFullYear();
import { siteName } from "~/data/config";
---

<footer>
  <div class="container pt-16 pb-8">
    <Picture
      src={logo}
      alt="Květinka2 logo"
      width={150}
      height={75}
      class="mx-auto h-[75px] w-[150px] object-contain"
    />
    <p class="mt-10 text-center text-sm">&copy; {currentYear} {siteName}. All rights reserved. <a class="underline" href="/privacy-policy">Privacy policy</a></p>
  </div>
</footer>
